
@import '../assets/styles/common/var';

.admin-component {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(../assets/images/backgroundImg.png);
    background-size: cover;
    width: $admin-base-percent*5;
}
.admin-dropdown {
  float: right;
  width: 135px;
  overflow: hidden;
  margin-top: -$admin-base-size*12;
  margin-right: $admin-base-size*6;
  .admin-dropdown__dropbtn {
    font-size: $font-medium;
    border: none;
    outline: none;
    color: $admin-white;
    padding: $admin-base-size*3 $admin-base-size*3;
    background-color: inherit;
    cursor: pointer;
  }
  &__content {
      display: none;
      position: absolute;
      background-color: $admin-blue;
      width: $admin-base-size*26;
      z-index: 1;      
  }
  &__lang-default {
      float: none;
      color: $admin-white;
      background-color: $admin-blue;
      padding: $admin-base-size*2 $admin-base-size*3;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
          cursor: pointer;
      }
  }
  &__lang-active {
      background-color: $admin-brown;
  }
  &__dropicon {
      cursor: pointer;
  }
  &:hover &__content {
      display: block;
      cursor: pointer;
  }
}