/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
header {
    width: 100%; 
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #00A6D8;
	border-bottom: 2px solid #eee;
}
footer {
    position: fixed;
    bottom: 0px; 
    width: 100%; 
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #00A6D8;
}
